.about-header-container-parent {
  height: 400px;
  margin: 0 20%;
}

.about-title-text {
  color: #54e3e6;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
}

.about-title-text-1 {
  color: var(--white, #fff);
  font-family: Karla;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}

.about-title-text-2 {
  color: var(--cyan, #54e3e6);
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */

  text-align: left;

  margin-top: 10px;
  margin-bottom: 30px;
}

.about-title-text-3 {
  color: var(--white, #fff);
  text-align: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.about-content-text {
  color: #fff;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-bottom: 20px;
}
.about-content-text-2 {
  color: var(--white, #fff);
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-align: left;

  margin-top: 40px;
  margin-bottom: 90px;
}

.about-categories {
  color: var(--dust, #ececec);
  font-family: Karla;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  pointer-events: none;
}

.about-category:hover {
  text-decoration: underline;
}

.about-category-current {
  color: var(--grey-4, #aeaeae);
}

.about-content-container {
  margin: 50px 20%;
}

.about-numbered-texts {
  margin: 45px;
}

.about-bordered-container {
  margin: 50px auto;
  width: 700px;
  border-radius: 4px;
  border: 1px dashed var(--red, #e91c3e);
  padding: 20px;
}

.about-icon {
  margin-right: 210px;
}

.about-user-container {
  padding: 50px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.play-button-image {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  object-fit: contain; /* Maintain aspect ratio */
}

/*  */
.box-frame {
  border-radius: 4px;
  border: 1px dashed var(--red, #e91c3e);
  background: var(--hero-background, #051525);
  color: var(--soft-grey, #f1f1f1);
  text-align: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: -10px;
}

@media screen and (min-width: 2400px) {
  .about-header-container-parent {
    margin: 0 calc((100vw - 1440px) / 2);
  }
  .about-content-container {
    margin: 50px calc((100vw - 1440px) / 2);
  }
}

@media screen and (max-width: 1200px) {
  .about-bordered-container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .about-header-container-parent {
    margin: 0 5%;
  }
  .about-content-container {
    margin: 50px 5%;
  }
  .about-header-text-1 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: -10px;
  }
  .about-header-text-2 {
    font-size: 30px;
    line-height: 60px;
  }
  .about-content-text {
    font-size: 18px;
  }
  .about-categories {
    font-size: 14px;
  }
}

/* Existing CSS styles */

/* For screens with a maximum width of 768px (iPhone 12 Pro) */
@media screen and (max-width: 768px) {
  .about-header-container-parent {
    margin: 0 5%;
  }
  .about-content-container {
    margin: 30px 5%;
    padding: 20px;
  }
  .about-thumbnail {
    align-items: center;
    text-align: center;
    margin-top: -15vh;
    margin-bottom: -5vh;
  }
  .about-content-text {
    /* font-size: 18px; */
  }
  .about-title-text {
    font-size: 32px;
    text-align: left;
  }
  .about-title-text-1 {
    font-size: 24px;
    text-align: left;
  }
  .about-title-text-2 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .about-title-text-3 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
  }

  .about-content-text-2 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: none;
  }
  .about-icon {
    font-size: 30px;
    margin-right: 20px;
  }
  .about-contact-container {
    padding: 20px;
  }
  .about-user-container {
    padding: 20px;
    margin: 0;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  /* Add more responsive styles as needed */
}
