


.blogs-filter-input {
  color: #F1F1F1;
  border-radius: 4px;
  font-family: Karla;
  background: #18172f;
  border: 1px solid #18172f;
  outline: none !important;
  box-shadow: none !important;
}

.blogs-filter-custom-text-1 {
  color: #4d2fbb;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.blogs-filter-custom-text-2 {
  color: #4d2fbb;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.blogs-filter-active-btn {
  color: #FFF;
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: #4d2fbb;
  border: 1px solid #4d2fbb;
}

.blogs-filter-unactive-btn {
  color: #403951;
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: 1px solid #403951;
}
.blogs-filter-unactive-btn:hover {
  color: #4d2fbb;
  border: 1px solid #4d2fbb;
}


.blogs-card-title-text {
  color: var(--Tiffany-Blue, #7BDCDE);
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}


.blogs-card-content-text {
  color: var(--Almost-White, #FFF);
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}


.blogs-card-created-date {
  color: var(--Almost-White, #FFF);
  text-align: right;
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}


.blogs-card-read-more-btn {
  color: var(--Blue-Violet, #8844DA);
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s;
}

.blogs-card-read-more-btn:hover {
  color: #3a287c;
}


.grid-back-to-top-text {
  color: rgba(255, 255, 255, 0.20);
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  transition: color 0.3s;
}

.grid-back-to-top-btn:hover .grid-back-to-top-text{
  color: #8844DA;
}