
.global-header-text-3 a {
  color: var(--Tiffany-Blue, #7BDCDE);
  text-decoration: underline;
}

.faq-accordion {
  color: #fff !important;
  background-color: #100826 !important;
  padding-left: 20px !important;
  border-radius: 25px !important;

  margin-bottom: 0.75rem !important;
}

.faq-accordion-details {
  padding-top: 1.5rem !important;
  padding-bottom: 2.5rem !important;
}

.faq-accordion .question {
  color: #FFF !important;
  font-family: Karla !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important;
}

.faq-accordion .question:hover .expand-icon-container {
  box-shadow: 0px 0px 20px #8844da !important;
}

.expand-icon-container {
  padding: 5px !important;
  background-color: #8844da !important;
  border-radius: 100% !important;
  transition: box-shadow 0.3s !important;
}

.faq-accordion .expand-icon {
  background-color: #FFF !important;
  height: 40px !important;
  width: 40px !important;
  transform: rotate(180deg) !important;
  transition: background-color 0.3s ease-in-out !important;

  -webkit-mask: url(/svg/global/arrow-up-icon.svg) no-repeat center !important;
  mask: url(/svg/global/arrow-up-icon.svg) no-repeat center !important;
}

.faq-ul {
  list-style-type: disc !important;
}


@media screen and (max-width: 1024px) {
  .faq-accordion .question {
    font-size: 24px !important;
  }
}






