.feature-container {
    background-color: #100826;
    padding: 50px 18%;
}

.features-title-1 {
    color: var(--white, #fff);
    font-family: Karla;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}

.features-title-2 {
    color: #54e3e6;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}

.features-title-3 {
    color: var(--white, #fff);
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.feature-grid-cards{
    border-radius: 4px;
    border: 1px solid #4D2FBB;
    transition: box-shadow 0.3s;
}

.feature-grid-cards:hover {
    box-shadow: 0px 0px 20px #8844da;
}

.feature-grid-icon {
    transition: opacity 0.3s ease-in-out;
}

.feature-grid-cards:hover .feature-grid-icon{
    opacity: 0;
}

.feature-grid-title {
    color: var(--cyan, #54E3E6);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.feature-grid-text {
    color: var(--white, #FFF);
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}




@media screen and (min-width: 2400px) {
    .feature-container {
      padding: 50px calc(((100vw - 1440px)/2) + 250px);
    }
}

@media screen and (max-width: 1024px) {
    .feature-container {
      padding: 50px 5%;
    }

    .features-title-1 {
        font-size: 24px;
    }
    .features-title-2 {
        font-size: 32px;
    }
    .features-title-3 {
        font-size: 18px;
    }
}




