.backgroundCustom {
  height: 100vh;
  min-height: 850px;
  background-image: url("/images/global/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #04101f;
  flex-shrink: 0;
}

.headerContainer {
  height: 100%;
  min-height: 850px;
  margin: 0 20%;
}

.home-header-minitext {
  color: var(--tiffany-blue, #54E3E6);
  /* H8 */
  font-family: Karla;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 40.8px */
}

.home-header-spintext {
  /* H1 */
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 72px */
  background: linear-gradient(233deg, #7D24E9 0%, #A780F8 50.01%, #3DEEF2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dashboardCard {
  width: 605px;
}

.fuel-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.headerPar {
  color: var(--white, #FFF);
  font-family: Karla;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-openai {
  display: inline;
  height: 30px;
  margin-left: 10px;
}


.button-1 {
  border-radius: 4px;
  background: var(--button-1, #7b3ce4);
  display: flex;
  width: 250px;
  height: 52px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 30px 5px;
  transition: background 0.3s ease-in-out;
}

.button-1:hover {
  background: midnightblue;
}

.robotRun {
  pointer-events: none;
  max-width: 800px;
  min-width: 300px;
  z-index: 20;
}

@media screen and (min-width: 2400px) {
  .headerContainer {
    margin: 0 calc((100vw - 1440px)/2);
  }
}

@media screen and (max-width: 1700px) {
  .home-openai {
    height: 30px;
    margin-left: 10px;
  }
  .home-header-minitext {
    font-size: 30px;
    line-height: 30px;
  }
  .home-header-spintext {
    font-size: 45px;
    line-height: 60px;
  }
  .fuel-text {
    font-size: 45px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1500px) {
   .dashboardCard {
    width: 340px;
  }
  .fuel-text {
    font-size: 40px;
    line-height: 40px;
  }
  .headerPar {
    font-size: 16px;
    font-weight: 300;
  }
  .home-openai {
    height: 17px;
    margin-left: 5px;
  }
  .home-header-minitext {
    font-size: 25px;
    line-height: 25px;
  }
  .home-header-spintext {
    font-size: 35px;
    line-height: 50px;
  }
  .fuel-text {
    font-size: 35px;
    line-height: 35px;
  }
}


@media screen and (max-width: 1024px) {
  .backgroundCustom {
    min-height: 800px;
  }
  .headerContainer {
    margin: 0 5%;
  }
  .dashboardCard {
    width: 100%;
  }
  .home-header-minitext {
    font-size: 20px;
    line-height: 20px;
  }
  .home-header-spintext {
    font-size: 30px;
    line-height: 50px;
  }
  .fuel-text {
    font-size: 30px;
    line-height: 10px;
  }
  .headerPar {
    font-size: 16px;
    font-weight: 300;
  }
  .robotRun {
    max-width: 400px;
    min-width: 100px;
  }
  .button-1 {
    width: 100%;
    margin: 0;
  }
}