
/* *** Home common components *** */
.home-section-header-small {
  color: #F1F1F1;
  font-family: Karla;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

.home-section-header-big {
  color: #7BDCDE;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

.home-section-header-content {
  color: #F1F1F1;
  font-family: Karla;
  font-size: 20px;
  line-height: 120%;
}


.home-card-header-small {
  color: #F1F1F1;
  font-family: Karla;
  font-size: 14px;
  line-height: 120%;
}

.home-card-header-big {
  color: #54E3E6;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

.home-card-header-content {
  color: #F1F1F1;
  font-family: Karla;
  font-size: 16px;
  line-height: 131%;
}

.home-primary-btn {
  color: #FFF;
  min-height: 50px;
  border-radius: 4px;
  font-family: Karla;
  font-size: 16px;
  background: #8844DA;
  transition: background-color 0.3s ease-in-out;
}

.home-primary-btn:hover {
  background-color:#4D2FBB;
}

.home-secondary-btn {
  color: #FFF;
  min-height: 50px;
  border-radius: 4px;
  font-family: Karla;
  font-size: 16px;
  background: #E91C3E;
  transition: background-color 0.3s ease-in-out;
}

.home-secondary-btn:hover {
  background-color:#4D2FBB;
}

.home-outlined-btn {
  color: #FFF;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid #FFF;
  font-family: Karla;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.home-outlined-btn:hover {
  border-color:#4D2FBB;
  background-color:#4D2FBB;
}


.home-link {
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  text-decoration-line: underline;
}

.home-link:hover,
.home-link:hover i {
  color: #4D2FBB;
  text-decoration-line: none;
}

.home-input-center-placeholder,
.home-input-left-placeholder {
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #FFF;
}

.home-input-center-placeholder {
  text-align: center;
}

.home-input-center-placeholder::placeholder,
.home-input-left-placeholder::placeholder {
  color: #161616;
  font-family: Karla;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.home-input-center-placeholder::placeholder {
  text-align: center;
}
/* ==================== */



/* *** Hero section *** */
.hero-section {
  /* height: 100vh;
  min-height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #07061c;
  background-image: url("/images/global/Rectangle.png");
  box-shadow: inset 0px -100px 100px #07061c; */
}

.hero-container {
  height: 100%;
  margin: 0 20%;
}

.hero-header-container {
  min-width: 605px;
}

.hero-mini-header-text {
  color: #7BDCDE;
  font-family: Karla;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

.hero-header-text,
.hero-header-gradient-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.hero-header-gradient-text {
  background: linear-gradient(233deg, #7D24E9 0%, #A780F8 50.01%, #3DEEF2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-header-content {
  color: #FFF;
  font-family: Karla;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}

.hero-header-openAI-logo {
  display: inline;
  height: 30px;
  margin-left: 10px;
}

.hero-animation-container {
  pointer-events: none;
  max-width: 800px;
  min-width: 300px;
  z-index: 20;
}


.hero-section-mobile{
  height: 100vh;
  min-height: 850px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-color: #07061c;
  background-image: url("/images/home/shine-ai-robot.png");
  box-shadow: inset 0px -350px 300px #010035;
}

.hero-container-mobile {
  height: 100%;
  padding-top: 75%;
  min-height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/images/global/background/hero-mobile.png");
  box-shadow: inset 0px -100px 100px #07061c;
}

.hero-container-mobile .hero-header {
  color: #FFF;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
}
.hero-container-mobile .hero-header-accent {
  color: #54E3E6;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.hero-container-mobile .hero-content {
  color: var(--Almost-White, #F1F1F1);
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
}


.founders-message-container {
  background-color: #010035;
}

.founders-img{
  height: 75px;
}


.text-content {
  color: var(--Almost-White, #F1F1F1);
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
}
/* =========================== */




/* *** How to Use Shine Ai *** */
.how-to-use-shine-ai-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #07061c;
  background-image: url("/images/global/background/how-shine-ranker-bg.png");
  box-shadow: inset 0px 100px 100px #07061c, 
              inset 0px -100px 100px #07061c,
              0px -100px 100px #07061c;;
}

.how-to-use-shine-ai-container {
  min-height: 800px;
  margin: 0 20%;
}

.how-to-use-shine-ai-badge {
  /* width:111px;
  height:28px; */
}
/* ================= */



/* *** Our Tools *** */
.our-tools-container {
  min-height: 850px;
  margin: 0 20%;
}

.our-tools-left-content-ai-image {
  margin-top: -50px;
  /* width:517px; */
}

.our-tools-left-content-card {
  width: 370px;
  margin-top: -200px;
  margin-bottom: -120px;
  border-radius: 4px;
  background: var(--dark-purple, #100826);
  box-shadow: 0px 4px 100px 0px rgba(151, 71, 255, 0.30);
}

.our-tools-right-content-title {
  color: #7BDCDE;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.our-tools-right-content-text {
  color: #F1F1F1;
  font-family: Karla;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
/* =========================== */



/* *** Pricing Plan *** */
.pricing-plan-header-bg {
  background-image: url("/images/global/background/pricing-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  flex-shrink: 0;
}

.pricing-plan-cards-container {
  margin: -75px 20% 0 20%;
}
/* ========================= */















/* *** Stunning Image Output *** */
.stunning-images-grid-img {
  object-fit: cover;
  opacity: 0.8;
}
.stunning-images-grid-img:hover {
  opacity: 1;
  /* box-shadow: 0px 0px 10px #8844DA; */
}

.stunning-images-input {
  color: #F1F1F1;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #141638;
  border-color: #141638;
  border-radius: 4px;
}

.stunning-images-input::placeholder {
  color: #8844DA;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stunning-images-input:focus {
  border-color: #8844DA;
}




/* *** Amazing Features *** */
.amazing-features-container {
  margin: 0px 20%;
}

.amazing-features-grid-card{
  padding: 2.5rem;
}

.amazing-features-grid-card .card-title{
  color: #7BDCDE;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
/* =================== */



/* *** Limited Time Offer *** */
.limited-time-offer-container {
  background-color: #100826;
  border: 1px solid #100826;
}
/* ========================== */




/* *** Credibility *** */
.credibility-grid {
  display: grid;
}

.credibility-grid-mobile {
  margin-top: 4rem;
  display: none;
}

.credibility-grid-cad-accent {
  background-color: none;
}

.credibility-right-container {
  width: 50%;
}

.credibility-right-content-container {
  width: 100%;
  padding: 3.5rem;
  background-image: url("/images/global/background/credibility-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-color: #04101f;
  flex-shrink: 0;
}

.credibility-right-content-header {
  width: 100%;
}
/* =================== */



/* *** Subscribe for Freebies *** */
.subscribe-for-freebies-section {
  border: 1px solid #07061c;
}

.subscribe-for-freebies-form {
  border-radius: 4px;
  overflow: hidden;
  background: #323546;
}

.subscribe-for-freebies-form input{
  color: #FFF;
  border: none;
  padding: 0px 60px;
  background: #323546;
}

.subscribe-for-freebies-form input::placeholder{
  color: rgba(255, 255, 255, 0.80);
}
/* =========================== */




/* *** Testimonials *** */
.testimonial-section {
  border: 1px solid #07061c;
}



.testimonial-carousel-container {
  /* margin: 0px 17.75%; */
  padding: 100px 2px 2px 2px;
}

.testimonial-card {
  position: relative;
  min-height: 25.5rem;
  margin: 5px;
  background-color: #100826;
  border-radius: 4px;
  font-family: Karla;
}

.testimonial-card::after {
  position: absolute;
  top: -1px; 
  bottom: -1px;
  left: -1px; 
  right: -1px;
  background: linear-gradient(to top, #846AB6, #54E3E6, #846AB6);
  content: '';
  z-index: -1;
  border-radius: 4px;
}

.testimonial-card-profile-img{
  margin-top: -75px;
  align-self: center;
}

.testimonial-side-shadow-left {
  background-image: linear-gradient(270deg, transparent, #07061c, #07061c);
}
.testimonial-side-shadow-right {
  background-image: linear-gradient(90deg, transparent, #07061c, #07061c);
}
/* =========================== */



/* *** Social Links *** */
.socials-youtube {
  -webkit-mask: url(/svg/home/socials/youtube-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/youtube-icon.svg) no-repeat center;
}

.socials-tiktok {
  -webkit-mask: url(/svg/home/socials/tiktok-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/tiktok-icon.svg) no-repeat center;
}

.socials-facebook {
  -webkit-mask: url(/svg/home/socials/facebook-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/facebook-icon.svg) no-repeat center;
}

.socials-instagram {
  -webkit-mask: url(/svg/home/socials/instagram-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/instagram-icon.svg) no-repeat center;
}

.socials-discord {
  -webkit-mask: url(/svg/home/socials/discord-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/discord-icon.svg) no-repeat center;
}

.socials-x1 {
  -webkit-mask: url(/svg/home/socials/x1-icon.svg) no-repeat center;
  mask: url(/svg/home/socials/x1-icon.svg) no-repeat center;
}

.socials-youtube, 
.socials-tiktok, 
.socials-facebook, 
.socials-instagram, 
.socials-discord, 
.socials-x1 {
  background-color: #ba9ae2;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s ease-in-out;
}

.socials-youtube:hover, 
.socials-tiktok:hover, 
.socials-facebook:hover, 
.socials-instagram:hover, 
.socials-discord:hover, 
.socials-x1:hover {
  /* background-color:#4D2FBB; */
  background-color:#FFF;
}
/* =========================== */



/* *** Join Us *** */
.join-us-section-container {
  border: 1px solid #100826;
  background-image: url("/images/global/background/join-us-shine-robot-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.join-us-content-container{
  margin: 50px 18%;
}

.join-us-right-container {
  background-color: #07061C;
  border-radius: 4px;
}
/* =========================== */






@media screen and (min-width: 2400px) {
  .hero-container,
  .how-to-use-shine-ai-container,
  .our-tools-container,
  .amazing-features-container {
    margin: 0 calc((100vw - 1440px)/2);
  }
}

@media screen and (max-width: 1700px) {
  .hero-header-openAI-logo {
    height: 30px;
    margin-left: 10px;
  }
  .hero-header-gradient-text {
    font-size: 45px;
    line-height: 60px;
  }
  .hero-header-text
  {
    font-size: 45px;
  }
  
}

@media screen and (max-width: 1500px) {
  .hero-header-container {
    min-width: 340px;
  }
  .hero-header-content
  {
    font-size: 16px;
    font-weight: 300;
  }
  .hero-header-openAI-logo {
    height: 17px;
    margin-left: 5px;
  }
  .home-section-header-small {
    font-size: 24px;
  }
  .hero-header-gradient-text {
    font-size: 35px;
  }
  .hero-header-text {
    font-size: 35px;
  }

  .home-section-header-big {
    font-size: 32px;
  }
}


@media screen and (max-width: 1024px) {
  .hero-section {
    /* min-height: 800px; */
  }
  .hero-container,
  .how-to-use-shine-ai-container {
    margin: 0 10%;
  }
  .home-section-header-small {
    font-size: 20px;
  }
  .hero-header-gradient-text {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-header-text {
    font-size: 30px;
  }
  .hero-header-content,
  .home-section-header-content  {
    font-size: 16px;
  }
  .hero-animation-container {
    max-width: 400px;
    min-width: 100px;
  }
  .button-1 {
    width: 100%;
    margin: 0;
  }


  .our-tools-container,
  .amazing-features-container {
    margin: 0 5%;
  }
  .our-tools-left-content-card {
    width: 350px;
  }

  .pricing-plan-cards-container {
    margin: 2.5rem 5% 0 5%;
  }

  .credibility-right-container {
    width: 55%;
  }

  .credibility-header-content {
    text-align: start;
  }

  .testimonial-carousel-container {
    /* margin: 0px 5%; */
  }

  .join-us-content-container {
    margin: 50px 5%;
  }
}


@media screen and (max-width: 768px) {
  .hero-container,
  .pricing-plan-header-container {
    margin: 0 5%;
  }

  .how-to-use-shine-ai-container{
    margin: 10% 5% 0px 5%;
  }
  .how-to-use-shine-ai-badge {
    width:85px;
    height:22px;
  }

  .our-tools-left-content-ai-image {
    width: 25rem;
  }

  .our-tools-left-content-card {
    width: 100%;
    margin-top: -150px;
    margin-bottom: 0px;
  }

  .amazing-features-grid-card{
    background-color: #010035;
  }

  .credibility-grid {
    display: none;
  }
  .credibility-grid-mobile {
    display: grid;
    width: 100%;
  }
  .credibility-right-container {
    width: 100%;
  }
  .credibility-right-content-container {
    width: 100%;
    padding: 10rem 3.5rem;
  }
  .credibility-header-content {
    text-align: center;
    max-width: 32rem;
  }

}


@media screen and (max-width: 425px) {

  .home-section-header-small{
    font-size: 18px;
  }
  

  .hero-section {
    display: none;
  }
  .hero-header-container {
    min-width: 280px;
  }

  .our-tools-container {
    margin: 0%;
  }
  .our-tools-grid-item {
    background-color: #010035;
  }

  .credibility-grid-cad-accent {
    background-color: #010035;
    padding: 2rem 0px;
  }

  .subscribe-for-freebies-form {
    background: none;
    gap: 10px;
  }
  
  .subscribe-for-freebies-form input{
    color: #161616;
    padding: 0px 30px;
    border: none;
    border-radius: 4px;
    background: #FFF;
  }
  
  .subscribe-for-freebies-form input::placeholder{
    color: #161616;
  }

  .testimonial-card {
    min-height: 24rem;
  }

  .join-us-content-container {
    margin: 50px 0px 0px 0px;
  }
}


@media screen and (max-width: 375px) {
  .hero-mini-header-text {
    font-size: 22px;
  }
  .hero-header-text {
    font-size: 26px;
  }
  .hero-header-gradient-text {
    font-size: 26px;
    line-height: 38px;
  }
  .hero-header-content,
  .home-section-header-content  {
    font-size: 15px;
  }

  .stunning-images-grid-img {
    max-height: 80px;
  }
}



