.login-container {
    height: 100vh;
    min-height: 850px;
    background-image: url("/images/global/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #04101f;
    flex-shrink: 0;
}

.signup-card {
    display: inline-flex;
    padding: 70px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 10px;
    background: linear-gradient(136deg, rgba(189, 189, 189, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(10px);
}

.signup-card-title {
    color: #FFF;
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.signup-label {
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.56px;
}

.signup-input {
    width: 399px;
    height: 40px;
    align-items: center;
    border-radius: 4.474px;
    border: 1.119px solid rgba(130, 129, 129, 0.50);
    background: linear-gradient(131deg, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0.60) 100%);
}

.signup-input::placeholder {
    color: #ffffff96;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.signup-checkbox-label {
    color: #FFF;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-checkbox {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #AEAEAE;
    background: #ECECEC;
}

.signup-checkbox-link {
    color: var(--tiffany-blue, #7BDCDE);
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-submit-button {
    display: flex;
    width: 400px;
    height: 40px;
    padding: 9.406px 18.811px;
    justify-content: center;
    align-items: center;
    gap: 6.27px;
    border-radius: 4.681px;
    border: 0.784px solid var(--blue-violet, #8844DA);
    background: var(--blue-violet, #8844DA);

    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.signup-account-text {
    color: #FFF;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-account-link {
    color: #80E7FE;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.signup-shineranker-text {
    color: #FFF;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.signup-shineranker-link {
    color: var(--tiffany-blue, #7BDCDE);
    text-align: center;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 191.667% */
}