nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navContainer {
    background-color: rgba(24, 24, 24, 0);
    transition: background-color 0.3s ease-in-out;
}
.changeNavColor {
    /* background-color: rgb(17, 17, 17); */
    background-color: rgba(79, 70, 228, 1);
}

.nav-link:hover {
    background-color: #4D2FBB80;
}

.desktop-about-menu{
    background-color: transparent !important;
}


.accordion-item {
    color: #FFF;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.desktop-about-sub-menu > div > ul {
    padding: 0px;
    padding-top: 1.25rem;
    background-color: #8844DA;
    border: none;
}

.desktop-about-sub-menu > div > ul > li {
    padding: 0px;
}

.desktop-about-sub-menu-links {
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    /* padding: 12px 20px; */
    padding: 12px 1.35rem;
}

.desktop-legals-sub-menu{
    padding-left: 12px;
    padding-right: 12px;
}

.desktop-legals-sub-menu-accordion {
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent !important;
}
.desktop-legals-sub-menu-accordion-summary {
    padding: 0px; 
    background-color: transparent !important;
}
.desktop-legals-sub-menu-accordion-summary-text {
    padding-left: 1.35rem;
    color: #F1F1F1;
}
.desktop-legals-sub-menu-accordion-summary-icon {
    padding-left: 10px;
    color: #F1F1F1;
}
.desktop-legals-sub-menu-accordion-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    color: #F1F1F1;
    padding: 0px 3rem 0px 2.5rem;
    border-radius: 4px;

    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
}
.desktop-legals-sub-menu-accordion-link:hover {
    background-color: #4D2FBB80;
}

.sign-in-btn {
    background-color: #7D35D4;
}

.hamburger {
    display: none;
}

.drawer-container {
    color: #FFF;
    min-width: 16rem;
    max-width: 20rem;
    height: 100%;
    background-color: #8844da;
}

.swipeable-drawer > div {
    border: none;
    background-color: #8844da;
}

.accordion.expanded:before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }
@media screen and (min-width: 2400px) {
    .navContainer > div {
      margin: 0 calc((100vw - 1440px)/2);
    }
}

@media screen and (max-width: 1550px) {
    .navContainer {
        padding: 0;
    }
    .hamburger {
        display: block;
    }
    .navLogo {
        margin-right: 0px;
    }
    .mobileLinksContainer {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .mobileLinksContainer {
        right: 5vw;
    }
}