nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navContainer {
    background-color: rgba(24, 24, 24, 0);
    transition: background-color 0.3s ease-in-out;
}
.changeNavColor {
    /* background-color: rgb(17, 17, 17); */
    background-color: rgba(79, 70, 228, 1);
}

.nav-link:hover {
    background-color: #4D2FBB80;
}

.accordion-item {
    color: #FFF;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.sign-in-btn {
    background-color: #7D35D4;
}

.hamburger {
    display: none;
}

.drawer-container {
    color: #FFF;
    min-width: 16rem;
    max-width: 20rem;
    height: 100%;
    background-color: #8844da;
}

.swipeable-drawer > div {
    border: none;
    background-color: #8844da;
}

.accordion.expanded:before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }
@media screen and (min-width: 2400px) {
    .navContainer > div {
      margin: 0 calc((100vw - 1440px)/2);
    }
}

@media screen and (max-width: 1550px) {
    .navContainer {
        padding: 0;
    }
    .hamburger {
        display: block;
    }
    .navLogo {
        margin-right: 0px;
    }
    .mobileLinksContainer {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .mobileLinksContainer {
        right: 5vw;
    }
}