.pricing-content-container {
    transform: translate(0, -200px);
}

.pricing-header-background-custom {
    height: 600px;
    background-image: url("/images/global/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-shrink: 0;
}

.pricing-header-container-parent {
    height: 600px;
    margin: 0 20%;
}

.pricing-price-card {
    width: 330px;
    max-width: 330px;
    height: 100%;
    flex-shrink: 0;
    padding: 30px 40px;
    border: 1px solid #ffffff56;
    border-radius: 4px;
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(28px);
}

.pricing-price-title {

}

.pricing-price-title-1 {
    color: var(--soft-grey, #F1F1F1);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.pricing-price-title-2 {
    color: var(--soft-grey, #F1F1F1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36.818px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 44.182px */
}

.pricing-price-title-3 {
    color: var(--soft-grey, #F1F1F1);
    text-align: center;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.pricing-price-checklist {

}

.pricing-price-checklist-text {
    color: var(--white, #FFF);
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.pricing-price-footer {

}

.pricing-price-footer-button {
    color: white;
    display: flex;
    width: 206px;
    height: 53px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--purple-dark, #4F46E4);
}

.pricing-price-footer-text {
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price-policy-container {
}

.pricing-policy-text-1 {
    color: #FFF;
    text-align: center;
    /* Body 2 */
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.pricing-policy-text-2 {
    color: #FFF;
    text-align: center;
    /* Caption */
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing-features-container {
    display: absolute;
    left: 0;
    width: 100%;
    transform: translate(0, -200px);
}

@media screen and (max-width: 1280px) {
    .pricing-price-card {
        width: 100%;
        max-width: 400px;
    }
    .pricing-content-container {
        transform: translate(0, 0);
    }
    .pricing-features-container {
        transform: translate(0, 0);
    }
}