:root {
    --darkpurp: #19163C;
    --gray: #999;
    --lightgray: whitesmoke;
    --lightgreen: #3DCB80;
    --majorelleblue: #4F46E4;
    --popular: #ffdd40;
    --starter: #f73859;
    --essential: #00aeef;
    --professional: #ff7f45;
}

/* SWITCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: var(--darkpurp);
    text-align: center;

    color: var(--white, #FFF);
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }
  
  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: var(--white);
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  }
  
  .switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
  }
  
  .switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
    background: var(--majorelleblue);
  }
  
  .switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.25s ease-in-out;
  }
  
  .switch-wrapper .highlighter {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50%);
    height: calc(100%);
    border-radius: 30px;
    background: var(--lightgreen);
    transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
  }