
.tools-small-text-1 {
    color: #F1F1F1;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.tools-header-small-text-2 {
    color: #7BDCDE;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.tools-img-shadow {
    box-shadow: 0px 0px 20px #8844da;
}

.tools-grid-card {
    border: 1px solid #4D2FBB;
    transition: box-shadow 0.3s;
}

.tools-grid-card:hover {
    box-shadow: 0px 0px 20px #4D2FBB;
}



@media screen and (max-width: 1024px) {
    .tools-small-text-1 {
        font-size: 14px;
    }
    .tools-header-small-text-2 {
        font-size: 22px;
    }
}



